/*
  This .css file is in common between all the pages that extend
  softhub/templates/softhub/base.html
*/

.gray-background {
  background-color: rgb(230, 230, 230);
}

.fixed-img-size {
  height: 100px;
  width: 100px;
}

.jumbotron {
  background-color: white
}

.footer-black {
  background-color: black;
  padding-top: 2em;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

footer {
    height: 100%;
}

/*.sidebar {
  background-color: rgba(0,0,0,0.1);
}*/
