# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
ENV/
env/

# python manage.py can create Models .svg graph with Django_extensions
*.svg
*.png

# sqlite3 DB file
*.sqlite3

# upload dir
softhub/uploads/*

# bower directory
softhub/static/bower-components/*
