<!--
  Shows a list of applications.

  If the list is empty, it shows a warning.
-->


{% if not apps %}
  <div class="white-background">
    No Application has been uploaded yet!
  </div>
{% endif %}

{# List of best reviewed applications #}
<!--
{% if best_rated_apps %}
  <h3> Top 3 Apps </h3>
  {% for app in best_rated_apps %}
    {% include "./app_shop.html" %}
  {% endfor %}
{% endif %}
-->

{# List of all applications #}
{% for app in apps %}
  {% include "./app_shop.html" %}
{% endfor %}

{% include "./pagination.html" %}
