<!--
  Shows an application and some information as Icon and Description.
-->
{% load static %}
<link rel="stylesheet" href="{% static 'softhub/css/app_shop.css'%}">

<div class="col-sm-4 col-lg-4 col-md-4">
  <a href="{% url 'softhub:app_detail' app.id %}">
  <div class="thumbnail card-shadow-hover">
    <div class="text-center">
        <img src="{{ app.icon.url }}" alt="">
    </div>


    <div class="caption">
      <p>
        <span class="app_name">
          {{ app.name }}
        </span>

        <span class="label label-default category_label pull-right">
          {{ app.category }}
        </span>
      </p>

      <p>
        {{ app.description }}
      </p>
    </div>

    <div class="ratings">
      {% with app.getReviewCount as reviewCount %}
        <p class="pull-right">{{ reviewCount }} review{{reviewCount|pluralize}}</p>
      {% endwith %}
      <p>
        {% include "../../application_detail/components/rating.html" with rating=app.getAverageRating showNumericRating=False %}
      </p>
    </div>
  </div>
</a>
</div>
