<div class="container-fluid">
  <div class="footer">

    <div class="col-md-4 footer-text">
      <p>test</p>
    </div>

    <div class="col-md-4 footer-text">
      <p>test</p>
    </div>

    <div class="col-md-4 footer-text">
      <section id="contact">
        <p>
          <i class="fa fa-twitter-square fa-2x sr-contact"></i>
          <a href="#">Softhub Twitter</a>
        </p>

        <p>
          <i class="fa fa-facebook-square fa-2x sr-contact"></i>
          <a href="#">Softhub Facebook</a>
        </p>

        <p>
          <i class="fa fa-google-plus-square  fa-2x sr-contact"></i>
          <a href="#">Softhub Google Plus</a>
        </p>

        <p>
          <i class="fa fa-envelope-o fa-2x sr-contact"></i>
          <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
        </p>
      </section>
    </div>


  </div>
</div>
