{% extends "softhub/base.html" %}


{% block title %}
  <title>App: {{ app.name }}</title>
{% endblock title %}

{% block stylesheets %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'softhub/css/app_detail.css' %}">
{% endblock stylesheets %}


{% block content %}
  <div class="col-md-10">
    <div class="thumbnail">
      {# <img class="img-responsive" src="http://placehold.it/800x300" alt=""> #}
      <img class="img-responsive" src="{{ app.icon.url }}" alt= "">

      <div class="caption-full">

        <h4 class="pull-right"> {{ app.developer }}</h4>
        <h4>
          {{ app.name }}
        </h4>

        <p>
          {{ app.description }}
        </p>

        <div class="ratings">
          <p class="pull-right">3 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
          </p>
        </div>

        <br>

        <div class="row">
          {% include "./components/app_details_panels.html" %}

          <div class="col-md-6">
            {% include "./components/app_downloads.html" %}
          </div>

          {% if user.id is app.developer.user.id %}
            <div class="col-md-12">
              {% include "./components/app_developer_actions.html" %}
            </div>
          {% endif %}
        </div> <!-- row ends -->

      </div>

    </div>

    <div class="well">

      <hr>

      <div class="row">
        <div class="col-md-12">
          <form action="" method="post">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}

            <div class="text-right">
              <input type="submit" value="Leave a Review" class="btn btn-success">
            </div>

          </form>
        </div>
      </div>

      {% for review in reviews %}
        <hr>
        {% include "./components/app_review.html" %}
      {% endfor %}

    </div>
  </div>

  <div class="col-md-2">
    Suggested items
  </div>

{% endblock %}


{% block scripts %}
  {{ block.super }}

  <script
    src="{% static 'softhub/js/application_detail/components/app_versions_table.js' %}"
    charset="utf-8">
  </script>

  <script
    src="{% static 'softhub/js/application_detail/components/app_executables_table.js' %}"
    charset="utf-8">
  </script>
{% endblock scripts %}
