{% extends "softhub/base.html" %}


{% block title %}
  <title>App: {{ app.name }}</title>
{% endblock title %}

{% block stylesheets %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'softhub/css/app_detail.css' %}">
  <link rel="stylesheet" href="{% static 'softhub/css/application_detail/recommended_items.css' %}">
{% endblock stylesheets %}


{% block content %}

  <div class="col-md-9">
    <div class="thumbnail white-background">
      {# <img class="img-responsive" src="http://placehold.it/800x300" alt=""> #}
      <img class="img-responsive" src="{{ app.icon.url }}" alt= "">

      <div class="caption-full">

        <h4>
          {{ app.name }}
        </h4>
        <h4 class="pull-right"> {{ app.developer }}</h4>

        <p>
          {{ app.description }}
        </p>

        <div class="ratings">

          {% include "./components/rating.html" with rating=app.getAverageRating showNumericRating=True %}

          <p class="pull-right">
            {{ app.getReviewCount }} review{{ app.getReviewCount|pluralize }}
          </p>
        </div>

        <br>

        <div class="row">
          {% include "./components/app_details_panels.html" %}

          <div class="col-md-6">
            {% include "./components/app_downloads.html" %}
          </div>

          {% if user.id is app.developer.user.id %}
            <div class="col-md-12">
              {% include "./components/app_developer_actions.html" %}
            </div>
          {% endif %}
        </div> <!-- row ends -->

      </div>

    </div>

    {# Reviews section #}
    <div class="well">
      <div class="row">
        {% if user.is_authenticated and not user_reviewed_app %}
          <div class="col-md-6">
            {% include "./components/review_form.html" %}
          </div>
          <div class="col-md-6">
            {% include "./components/reviews_list.html" %}
          </div>
        {% else %}
          <div class="col-md-12">
            {% include "./components/reviews_list.html" %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {# Suggested items section #}
  <div class="col-md-3">
    {% include "./components/recommended_items.html" %}
  </div>

{% endblock %}


{% block scripts %}
  {{ block.super }}

  <script
    src="{% static 'softhub/js/application_detail/components/app_versions_table.js' %}"
    charset="utf-8">
  </script>

  <script
    src="{% static 'softhub/js/application_detail/components/app_executables_table.js' %}"
    charset="utf-8">
  </script>
{% endblock scripts %}
