{% extends 'softhub/base.html' %}

{% block title %}
  <title> {{ app }}: create new version  </title>
{% endblock %}


{% block content %}
  <div class="white-background col-md-12">

    <h3>
      <img src="{{ app.icon.url }}" class="fixed-small-img-size" alt="">
      {{ app.name }}: new version
    </h3>
    <br> <br>

    <div class="col-md-6">
      <form action={% url 'softhub:app_version_upload' app.id %} method="post"/>
        {% csrf_token %}

        {% load crispy_forms_tags %}
        {{ form|crispy }}

        <input type="submit" value="Submit" class="btn btn-default">
      </form>
    </div>
  </div>
{% endblock %}
