.gray-background {
  background-color: rgb(230, 230, 230);
}

.fixed-img-size {
  height: 128px;
  width: 128px;
}

.jumbotron {
  background-color: white
}

.container-fluid {
  background-color: black;
}

.footer{
  margin-left: 8%;
  margin-right: 8%;
}
