/*
  This .css file is in common between all the pages that extend
  softhub/templates/softhub/base.html
*/

.gray-background {
  background-color: rgb(230, 230, 230);
}

.fixed-img-size {
  height: 128px;
  width: 128px;
}

.jumbotron {
  background-color: white
}

.footer-black{
  background-color: black;
  padding-top: 2em;
}
