{% extends 'softhub/base.html' %}

{% block title %}
  <title>{{ app }}: upload executable</title>
{% endblock %}


{% block content %}
  <div class="white-background col-md-12">

    <h3>
      <img src="{{ app.icon.url }}" class="fixed-small-img-size" alt="">
      {{ app.name }}: new executable
    </h3>
    <br> <br>

    <form action="{% url 'softhub:app_executable_upload' app.id %}"
          method="post"/
          enctype="multipart/form-data">

      {% csrf_token %}

      {% load crispy_forms_tags %}
      {{ form|crispy }}

      <input type="submit" value="Submit" class="btn btn-default">
    </form>
  </div>
{% endblock %}
