<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={% url "softhub:index" %}> SoftHub </a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <!-- TODO note that users can still access the upload URL inserting it manually !-->
        {% if user.isDeveloper and user.is_authenticated %}
          <li><a href={% url 'softhub:app_upload' %}> Upload App <span class="glyphicon glyphicon-plus"></span> </a></li>
        {% endif %}

        <li><a href="#">About <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></a></li>
        <!-- <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              {{ user }} <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li class="disabled"><a href="#">User page</a></li>
              <li><a href={% url 'softhub:logout' %}>Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
          </li>
        {% else %}
          <li role="presentation">
            <a href={% url 'softhub:login' %}> Sign In <span class="glyphicon glyphicon-log-in"></span></a>
          </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
