{% extends 'softhub/base.html' %}

{% block title %}
  <title>About Softhub</title>
{% endblock title %}

{% block content %}
  <div class="container white-background">
    <h1>About Softhub</h1>
    <p>
      SoftHub is a web application that provides ready to execute applications.
      Just select one application, download it and then open it on your computer!
    </p>

    <h3>Linux</h3>
    <p>
      <img src="http://appimage.org/images/logo3.svg" alt="">
      <a href="http://appimage.org/"> Website</a> <br>
      <code>AppImage</code> is used to package the
      application and it's dependencies! <i>Linus Torvalds</i> himself approves
      it ;)
    </p>

    <h3>Windows</h3>
    <p>
      Applications are provided as portable executable <code>.exe</code>
    </p>

    <h3>OSX</h3>
    <p>
      Application are stored in <code>.dmg</code> format.
    </p>
  </div>
{% endblock content %}
