/* CSS rules for recommended_items.html page */

.recommended-items {
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  /*box-shadow: rgb(0, 24, 24) 0px 0px 1px*/
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px 1px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.1em;
  height: 8em;
  overflow: hidden;
}

.fixed-height {
  height: 8em;
}

.fixed-very-small-img-size {
  height: 64px;
  width: 64px;
}
