<!--
  Shows a panel containing all the versions and executables for the current
  Application.
-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Downloads </h2>
  </div>

  <div class="panel-body">
    <p>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        {% for version in versions %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
              <h4 class="panel-title">

                <a role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse{{ forloop.counter }}"
                  aria-expanded="true"
                  aria-controls="collapse{{ forloop.counter }}">
                  {{ version }}
                </a>

              </h4>
            </div>

            <div id="collapse{{ forloop.counter }}"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="heading{{ forloop.counter }}">

              <div class="panel-body">

                {% for executable in executables %}
                  {% if executable.version.id == version.id %}
                    <a href="{{ executable.executable_file.url }}">
                      {{ executable }}
                    </a>
                    <br>
                  {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </p>
  </div>
</div>
