<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Developer Actions</h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12">
      <p>
        <a href="{% url 'softhub:app_version_upload' app.id %}">
          <button type="button" name="button" class="btn btn-default">
            <i class="fa fa-tag" aria-hidden="true"></i>
            Add new version for {{ app.name }}
          </button>
        </a>
      </p>

      <p>
        <a href="{% url 'softhub:app_executable_upload' app.id %}">
          <button type="button" name="button" class="btn btn-default">
            <i class="fa fa-cube" aria-hidden="true"></i>  Add new executable for {{ app.name }}
          </button>
        </a>
      </p>

      <p>
        <a href="{% url 'softhub:app_update' app.id %}">
          <button type="button" name="button" class="btn btn-default">
            <i class="fa fa-wrench" aria-hidden="true"></i>  Edit app details
          </button>
        </a>
      </p>
    </div>

    <div class="col-md-12">
      <p>
        {% include "./app_versions_table.html" %}
      </p>
    </div>

    <div class="col-md-12">
      <p>
        {% include "./app_executables_table.html" %}
      </p>
    </div>

  </div>
</div>
