<div class="col-md-6">
  <ul class="list-group">
    <li class="list-group-item">
      Version
      <span class="badge"> {{ app.get_latest_version }}</span>
    </li>

    <li class="list-group-item">
      Downloads
      <span class="badge">todo</span>
    </li>

    <li class="list-group-item">
      Size
      <span class="badge">todo</span>
    </li>

  </ul>
</div>

<div class="col-md-6">
  <ul class="list-group">
    <li class="list-group-item">
      Website
      <span class="badge">todo</span>
    </li>

    <li class="list-group-item">
      License
      <span class="badge">todo</span>
    </li>
  </ul>
</div>
