<!--
  Shows a panel containing all the versions and executables for the current
  Application.
-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Download </h2>
  </div>

  <div class="panel-body">
    <p>
      {% if latest_executables %}

        {% for exe in latest_executables.values  %}
          {% if 'linux' in exe.release_platform.family %}
            <a href="{{ exe.executable_file.url }}">
              <div class="col-md-4 text-center">
                <i class="fa fa-linux fa-4x" aria-hidden="true"></i>
              </div>
            </a>
          {% else %}
            <div class="col-md-4 text-center">
              <i class="fa fa-linux fa-4x" aria-hidden="true"></i>
            </div>
          {% endif %}

          {% if 'windows' in latest_executables %}
            <a href="{{ exe.executable_file.url }}">
              <div class="col-md-4 text-center">
                <i class="fa fa-windows fa-4x" aria-hidden="true"></i>
              </div>
            </a>
          {% else %}
            <div class="col-md-4 text-center">
              <i class="fa fa-windows fa-4x" aria-hidden="true"></i>
            </div>
          {% endif %}

          {% if 'osx' in latest_executables %}
            <a href="{{ exe.executable_file.url }}">
              <div class="col-md-4 text-center">
                <i class="fa fa-apple fa-4x" aria-hidden="true"></i>
              </div>
            </a>
          {% else %}
            <div class="col-md-4 text-center">
              <i class="fa fa-apple fa-4x" aria-hidden="true"></i>
            </div>
          {% endif %}

          <br>
        {% endfor %}
      {% else %}
        No executable has been uploaded for the latest version of {{ app }}.
      {% endif %}


      {% if user.id is app.developer.user.id %}
        {# TODO #}
        {# ====> <a href="{% url 'softhub:executable_update' executable.id %}">Update this executable</a> #}
      {% endif %}

      <p>
        {# TODO #}
        <a href="#">See all the versions</a>
      </p>

    </p>
  </div>
</div>
