<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Developer Actions</h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12">
      <p>
        <a href="{% url 'softhub:app_version_upload' app.id %}">
          <i class="fa fa-tag" aria-hidden="true"></i>  Add new version for {{ app.name }}
        </a>
      </p>

      <p>
        <a href="{% url 'softhub:app_executable_upload' app.id %}">
          <i class="fa fa-cube" aria-hidden="true"></i>  Add new executable for {{ app.name }}
        </a>
      </p>

      <p>
        <a href="{% url 'softhub:app_update' app.id %}">
          <i class="fa fa-wrench" aria-hidden="true"></i>  Update {{ app.name }} details
        </a>
      </p>
    </div>

    <div class="col-md-12">
      {% include "./app_versions_and_executables_table.html" %}
    </div>

  </div>
</div>
