{% extends 'softhub/base.html' %}

{% block title %}
  <title>Upload new application</title>
{% endblock %}


{% block content %}
<div class="white-background col-md-12">

    <h3>
      Application creation
    </h3>
    <br> <br>

    <form action={% url 'softhub:app_upload' %} method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% load crispy_forms_tags %}
      {{ form|crispy }}

      <input type="submit" value="Submit" class="btn btn-default">
    </form>
</div>
{% endblock %}
