<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Your Favorite Source of Software Apps</h1>
            <hr>
            <p>Softhub contains a tons of applications, download them, double click and use them!</p>
            <a href="#apps" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<!-- <section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ready to execute apps</h2>
                <hr class="light">
                <p class="text-faded">Softhub has everything you need to get your apps up and running in no time!</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section> -->
